
.navigation {
    border-top: 1rem solid #3b3b3b;
    border-bottom: 1rem solid #3b3b3b;
    align-items: center;

}

.total {
    display: none;
}

.footer {
    justify-content: space-between;
    align-items: center;
}


.map :first-child {
    width: 36rem;
    height: 144rem;
    margin-right: 250rem;
    margin-top: 276rem;
}

.map :last-child {
    width: 698rem;
    height: 624rem;
    margin-top: 72rem;
}

.description {
    color: white;
    text-align: end;
}

.icon_contact {
    width: 18rem;
    height: 18rem
}

.description h2 {
    font-size: 24rem;
}

.room:hover {
    background-color: rgba(255, 255, 255, 0.2);
}